<!DOCTYPE html>

<html lang="ja">
  <head>
      <link rel="icon" href="./src/favicon.ico">
    <!-- 文字エンコードをUTF-8に指定 -->
    <meta charset="utf-8">
    <!-- レンダリングを最新に指定 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- 拡大を禁止 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>基本情報入力</title>

    <!-- Semantic UI を読み込む -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <!-- Vue.js を読み込む -->
    <script src="https://unpkg.com/vue@2.3.3/dist/vue.js"></script>

    <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
    <!-- 共通のCSSファイルを読み込む -->
    <link rel="stylesheet" href="./css/confirm.css">
    <link rel="stylesheet" href="./common/style.css">
  </head>
  <body>
    <!-- Vue.jsで読み込む -->
    <h1>BOUQUET</h1>
    <div id="app">
<!--         <common-menu current="confirm"></common-menu>-->
        <div class="ui main container">
            <div class="ui stackable grid">
                <div class="four wide column"></div>
                <div class="eight wide column">
                    <div class="ui segment">
                        <form class="ui large form" v-on:submit.prevent="submit">
                            <h2>Hello</h2>
                            <div class="ui grid two column">
                                <div class="column five wide right aligned hw">身長</div>
                                <div class="column eight wide field">
                                    <div class="ui input right icon">
                                        <i class="icon input-icon">cm</i>
                                        <input type="text" v-model="user.height">
                                    </div>
                                </div>
                                <div class="column five wide right aligned hw">体重</div>
                                <div class="column eight wide field">
                                    <div class="ui input right icon">
                                        <i class="icon input-icon">kg</i>
                                        <input type="text" v-model="user.weight">
                                    </div>
                                </div>
                                <div class="column three wide field"></div>
                                <div class="column five wide right aligned hw">気になる部位</div>
                                <div class="column eight wide field">
                                    <select name="example1" class="ui dropdown" v-model="user.position">
                                        <option disabled selected value>選択して下さい</option>
                                        <option value="二の腕">二の腕</option>
                                        <option value="背中">背中</option>
                                        <option value="ウエスト">ウエスト</option>
                                        <option value="ヒップ">ヒップ</option>
                                        <option value="顔">顔</option>
                                    </select>
                                </div>
                                <br/><br/>
<!--                            <div class="ui two wide column grid right aligned marriage">-->
                                <div class="column five wide right aligned hw">挙式日</div>
<!--                                <div class="column eight wide field ui input left aligned">-->
                                    <div class="column eight wide field ui input required">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input type="date" name="date" placeholder="日付" v-model="user.wedding_day">
                                        </div>
                                    </div>
<!--                                </div>-->
<!--                            </div>-->

                                <br/><br/>
<!--                            <div class="ui grid two column">-->
                                <div class="column five wide right aligned">目標体重</div>
                                <div class="column eight wide field ui input">
                                    <div class="ui input right icon">
                                        <i class="icon input-icon">kg</i>
                                        <input type="text" v-model="user.goal_weight">
                                    </div>
                                </div>
                            </div>
                            <div class="ui text-center">
                                <button class="next" type="submit">
                                    登録
                                </button>
                            </div>
<!--                            </div>-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <!-- APIのURLを読み込むJavaScriptファイル -->
    <script src="./common/config.js" charset="utf-8"></script>
    <!-- 各ページで使うJavaScriptファイルはこの行より下で読み込む -->
	<!-- <script src="./common/menu.js" charset="utf-8"></script> -->
    <script src="./js/confirm.js" charset="utf-8"></script>
  </body>
</html>
